# Node modules
/node_modules
/agent/node_modules
.claude
# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts
/packages/contracts/artifacts
/packages/contracts/cache
/packages/contracts/node_modules

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

.env
.env.local

/packages/api/node_modules
/packages/core/node_modules
/packages/web/node_modules


/packages/api/.env
/packages/core/.env
/packages/web/.env
/packages/web/.env.local

# Subgraph
packages/subgraph/build/
packages/subgraph/generated/
packages/subgraph/node_modules/

*.log
.DS_Store
.vscode