# Node modules
/node_modules
/agent/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

.env
.env.local

/agent/.env
/agent/.env.local
/backend/node_modules
/backend/.env

/frontend/node_modules
/frontend/.env.local
